<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style src='../static/style.css'></style> -->
    <link rel="stylesheet" href="../static/styleContact.css">
</head>

<body>
    <nav>
        <ul>
            <div id="navbar">
                <img src="../static/img/logo.png" id="logo-heading" alt="Logo">
            </div>
            <li><a href="/"> Home </a></li>
            <li><a href="/"> Services </a></li>
            <li><a href="/"> About Us </a></li>
            <li><a href="/"> Our Mission </a></li>
            <li><a href="/contact"> Contact Us </a></li>
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <div id="top-nav-right">
                <li><a href="/" id='logo-name'>Shalini Dance Academy</a></li>
            </div>

        </ul>
    </nav>
   
    

    <div id="h-secondary-center">Fill Enquiry Form</div>

    <div id="container">

        <form action="/contact.pug" method='post'>
            <div class="field">Name : <input type="text" name="name"></div>
            <div class="field">Phone No : <input type="text" name="phone"></div>
            <div class="field">Email ID : <input type="text" name='email'></div>
            <div class="field">Address : <br><textarea name="address" id="" cols="21" rows="5"></textarea>
            <div class="field">
                <button type="submit" id='btn1' class='btn'>Submit</button>
                
                <button type="reset" id='btn2' class='btn'>Reset</button>
            </div>

        </form>
    </div>


    <footer>Copyright &#169 ayush_kr@gmail.com | All Rights Reserved </footer>

</body>

</html>