<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style src='../static/style.css'></style> -->
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav>
        <ul>
            <div id="navbar">
                <img src="../static/img/logo.png" id="logo-heading" alt="Logo">
            </div>
            <li><a href="/"> Home </a></li>
            <li><a href="/"> Services </a></li>
            <li><a href="/"> About Us </a></li>
            <li><a href="#h-secondary-center"> Our Mission </a></li>
            <li><a href="/contact"> Contact Us </a></li>
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <div id="top-nav-right">
                <li><a href="/" id='logo-name'>Shalini Dance Academy</a></li>
            </div>
        </ul>

    </nav>


    <h2>Welcomes You to<br> Shalini Dance Academy</h2>

    <div id="h-secondary-center">Our Mission</div>
    <div class="box-container">
        <div class="box"><span> Dance Perfection</span>
            <div class="card">
                <div class="card-box">
                    <img src="../static/img/1.png" alt="">
                </div>
                <div class="card-content">This is the Best Dance Academy
                </div>
            </div>
        </div>

        <div class="box box2"><span>Dance the way You Like</span>
            <div class="card">
                <div class="card-box">
                    <img src="../static/img/2.png" alt="">
                </div>
                <div class="card-content">Learn Dance of your Choice.</div>
            </div>
        </div>

        <div class="box"><span>Expert Teaching</span>
            <div class="card">
                <div class="card-box">
                    <img src="../static/img/3.png" alt="">
                </div>
                <div class="card-content">5 Years+ Experience</div>
            </div>
        </div>

    </div>

    <footer>Copyright &#169 ayush_kr@gmail.com | All Rights Reserved </footer>

</body>

</html>