
/* .our-service{
    height: 10px;
} */


.services {
    background: url("/img/arpit_changed_background.jpg") no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-size: cover; */
    padding: 30px 20px;
}
.my-tag1 {
    background-color: black;
    border: 2px solid greenyellow;
    color: white;
    padding: 10px 25px;
    width: fit-content;
    font-size: 1.2em;
    font-family: sans-serif;
}
.grid {
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.set {
    background-color: black;
    border: 2px solid greenyellow;
    color: white;
    padding: 10px 25px;
    width: 20%;
    font-size: 1.1em;
    font-family: cursive;
    text-align: center;
    flex-wrap: wrap;
}
.view {
    color: greenyellow;
    background-color: black;
    border: none;
}
.view:hover {
    cursor: pointer;
}
.set img{
    height: 70px;
    width: 70px;
}