body {
    background-color:black;
    background-repeat: no-repeat;
    background-size: 80%;

}

#leftbox {
    float:left;
    font-size: 18pt;
    color:green;
    margin-left: 30px;
    margin-right: 50px;
    font-weight: 12pt;
    font-family:cursive;
    font-weight: bolder;
    border: solid 2px green;
    width:95%;
    height:100%;
    background-image: url("thumb2.jpg");
    background-repeat: no-repeat;
    background-size:100%;
   
      
}
#rightbox {
    float:left; /*comment */
    display: flex;
    background-color:black ;
    font-size: 18pt;
    justify-content: space-between;
    flex-direction: row;
    color:green;
    font-weight: 12pt;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:left;
    font-weight: bolder;
    width:100%;
    height:30%;
}
 #redtext{
        color:white;
        font-size:14pt;
        margin-right: 20px;
        margin-left: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    #textbox {
    float:left;
    background-color:black;
    font-size: 12pt;
    color:green;
    font-weight: 12pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 50px;
    word-spacing: 30px;
    padding-inline-start: 5%;
    border: solid 2px green;
    padding-right: 30px;
    width:87%;
    height:30%;
}
#areatext{
        color:white;
        font-size:larger;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }
 
    #blacktext{
        float:left;
        border: solid 2px green;
        background-color: black;
        color:green;
        font-size:5pt;
        text-align:center;
        width:10%;
        height:5%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
        margin-left: 20px;;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    #whitetext{
        float:left;
        border: solid 2px green;
        color:green;
        font-size:5pt;
        text-align:center;
        width:10%;
        height:5%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #greentext {
        color: green;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20pt;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #bluearea{
        float:left;
        background-image: "niche.jpg";
        background-color:white;
        width: 50%;
        height: 50%;
        margin-left: 100px;
        margin-right: 100px;

    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5%;
      }
     #fourthbox {
        float:left;
        background-color: black;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        opacity: 0.5;
        font-size: 18pt;
        color:green;
        font-weight: 12pt;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align:center;
        font-weight: bolder;
        width:100%;
        height:60%;
        margin-top: 70px;
     }
    #fivthbox {
        color:white;
        margin-top: 30px;
        margin-bottom:10px;
        margin-right: 20px;
        margin-left: 20px;
        opacity: 1.0;
        font-size: 15pt;
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #box {
        color: green;
        margin-top: 90px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        opacity: 1.0;
        font-size: 20pt;
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    }

    body {
 background-color:black;
 width: 90%;
}

#twobox {
    float:left;
    font-size: 18pt;
    color:green;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 12pt;
    font-family:cursive;
    font-weight: bolder;
    border: solid 2px green;
    width:90%;
    height:60%;
    background-color:black;
    
}
#onetext {
        float:left;
        color:white;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 10pt;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #threebox {
        color: green;
        font-size: 15pt;
        text-decoration: none;
        text
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #sixthbox {
        color:white;
        font-size: 15pt;
        text-align: left;
        margin-left: 100px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   
    #seventext{
        color:white;  
        font-size:10pt;
        text-align:center;
        margin-left: 30px;
        width:"60%";
        margin-top: 20px;
        margin-bottom: 40px;
        flex-direction: row;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #imgnt {
        width: 100%;
        height: 50%;
        margin-top: 20px;
        margin-left: 20px;

    }
    #jiotext{
        float:left;
        border: solid 3px green;
        background-color: black;
        color:green;
        font-size:6pt;
        text-align:center;
        width:10%;
        height:20%;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-right: 20px;
        margin-left:20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #eighttext{
        color:white;  
        font-size:10pt;
        text-align:center;
        margin-left: 30px;
        width:"60%";
        margin-top: 20px;
        margin-bottom: 40px;
        flex-direction: row;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }