body{
    background-image: url(..//img/bg-body.jpg);
}

a, a:hover{
    text-decoration: none;
}

#container{
    margin: 0px auto;
    width: 860px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#content{
    width: 1150px;
    margin: 0px auto;

    background-color: pink;
}

#profile{
    background: rgb(246, 11, 101);
    background-image: url(../img/header-shadow.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    overflow: hidden;

}

.about{
    float: left;
    margin-top: 30px;
    width: 490px;
    margin-left: 20px;
}


.about .photo-inner{
    float: left;
    background: url(../img/photo-inner.png) no-repeat;
    width: 214px;
    height: 214px;
    padding: 12px 0 0 19px;
}


.about h1{
    font-weight: 900;
    color: white;
    line-height: 34px;
    margin: 8px 0 0 -20px;
}


.about h3{
    margin-top: 9px;
    font-size: 18px;
    color: white;
    line-height: 18px;
    font-family: 'Oswald', sans-serif;
}

.about p{
    font-size: 14px;
    margin-top: 15px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    
}


.personal-info{
    float: left;
    margin-top: 30px;
    width: 310px;
    min-height: 230px;
    margin-left: 10px;
    background: url(..//img/personal-info-sep.png) no-repeat left top;
    padding: 20px 0 19px 20px;

}

.personal-info li{
    line-height: 12px;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
    width: 293px;
}

.personal-info li label{
    color: white;
    float: left;
    padding: 4px 7px;
    font-weight: 550;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.personal-info li span{
    float: right;
    width: 220px;
    padding-top: 4px;
    font-weight: 400;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

header{
    position: relative;
    overflow: visible;
}


span.socials-text{
    position: absolute;
    right: 0px;
    color: white;
    padding: 2px 9px;
    font-size: 22px;
    cursor: pointer;
    top: 10px;
    border-radius: 70px;
}

i.fa.fa-share{
    /* color: white !important; */
    
}


ul.socialicons{
    opacity: 0;
    top: -1px;
    position: relative;
    transition: all ease 1s;
    z-index: -1;
    left: -7px;
}

.pulse-button{
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 15px;
    border: none;
    box-shadow: 0 0 0 0 rgb(101, 100, 100);
    background-color: #cf455c;
    cursor: pointer;
    color: white;
    font-size: 20px;
}


.menu{
    height: 100px;
    background-color: #ededed;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}

.tabs{
    height: 110px;
    position: absolute;
    margin-top: -14px;
    z-index: 100;

}

.tmenu{
    float: left;
}

.tabs li > a{
    
    padding-top: 28px;
    width: 115px;
    display: inline-block;
    font-size: 15px;
    color: #b9b9b9;
    text-align: center;
    font-weight: 580;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 35px;
    text-decoration: none;
    margin-right: 35px;
}

.tabs li.active{
    background: url(..//img/tab-hover.png) no-repeat;
    color: rgb(155, 0, 175);
}

.tabs li.active a{
    color: rgb(155, 0, 175);
    
}

a.tab-profile.active i{
    animation: bounce 1.5s infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-0px);
    }
    60%{
        transform: translateY(-10px);
    }
}

/* .tabs li.active a{
    color: #cf455c;
} */

.tabs li > a > i{
    font-size: 45px;
}


#logo{
    float: left;
    overflow: hidden;
    margin-left: 10px;
    /* display: none; */
}

#logo h4{
    color: #555;
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 7px;
}



#portfolio{
    padding: 31px;
}


#portfolio-list{
    width: 820px;
    overflow: hidden;
}
#portfolio-list li{
    float: left;
    margin-right: 25px;
    text-align: center;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e5e5e5;
    height: 185px;
    margin-bottom: 30px;
    width: 180px;

}

#portfolio-list li:hover{
    border-bottom: 1px solid #cf455c;
    height: 185px;
}

#portfolio-list img{
    background-color: white;
    height: 120px;
    width: 185px;
}

#portfolio-list li:hover .title{
    color: #cf455c;
}

#portfolio-list li .title{
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    color: #3a3a3a;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

#portfolio-list li .categorie{
    font-size: 11px;
    line-height: 25px;
    color: #999;
}


.cats-filter{
    border-bottom: 1px soid #ededed;
    overflow: hidden;
    padding: 15px 0;
}

.cats-filter li a{
    float: left;
    margin-right: 7px;
    color: white;
    background-color: #777;
    padding: 10px 10px;
    margin-bottom: 5px;
    font-size: 13px;
    font-family: 'Roboto Condensed' sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
}

.cats-filter li a:hover{
    text-decoration: none;
}
.cats-filter li a.current{
    background-color: #cf455c;
}

.extra-text{
    font-family: 'Roboto Condensed' sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333;
}





/* :::::::::::::::::: Contact Section Code are below */

#contact{
    overflow: hidden;
    font-family: 'Roboto Condensed' sans-serif;
}

.contact-info, .contact-form{
    float: left;
    padding: 0 20px;
}

.contact-info{
    width: 250px;
    font-family: 'Roboto Condensed' sans-serif;
}

.contact-form{
    width: 530px;
}


.contact-info ul{
    float: left;
    border-left: 1px solid #cf455c;
    padding-left: 18px;
}
.contact-info ul li{
    font-size: 13px;
    line-height: 20px;
    color: #777;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

#map{
    height: 300px;
    margin-bottom: 25px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#map iframe{
    width: 100%;
}

form .input, form textarea{
    box-shadow: inset 0px 5px 17px -13px #333;
    background: #fdfdfd;
    border: 1px solid #ced4da;
    border-radius: 2px;
    color: #777;
    font-size: 12px;
    height: 30px;
    outline: none;
    padding: 7px 10px;
    resize: none;
    width: 97%;
}

form textarea{
    height: 112px;
    line-height: 18px;
    margin-bottom: 0;
    padding-top: 8px;
}

form label{
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}

.button{
    color: white;
    background-color: #cf455c;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}







footer{
    width: 100vw;
    
    
    
}

.copyright{
    color: white;
    height: 50px;
    background-color: rgb(253, 18, 69);
    opacity: 0.7;
    font-size: 20px;
    position: relative;
    bottom: -135px;
    /* margin: 100px auto; */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}









/* Animation of Gallery like images in the portfoli */

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope, .isotope .isotope-item {

	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}